@model TaxiApp.Models.RegistroDiario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RegistroDiario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TotalDia" class="control-label"></label>
                <input asp-for="TotalDia" class="form-control" />
                <span asp-validation-for="TotalDia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Combustible" class="control-label"></label>
                <input asp-for="Combustible" class="form-control" />
                <span asp-validation-for="Combustible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PagoBase" class="control-label"></label>
                <input asp-for="PagoBase" class="form-control" />
                <span asp-validation-for="PagoBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PagoConductor" class="control-label"></label>
                <input asp-for="PagoConductor" class="form-control" />
                <span asp-validation-for="PagoConductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PagoDueno" class="control-label"></label>
                <input asp-for="PagoDueno" class="form-control" />
                <span asp-validation-for="PagoDueno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gastos" class="control-label"></label>
                <input asp-for="Gastos" class="form-control" />
                <span asp-validation-for="Gastos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacion" class="control-label"></label>
                <input asp-for="Observacion" class="form-control" />
                <span asp-validation-for="Observacion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Eliminado" /> @Html.DisplayNameFor(model => model.Eliminado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TaxiId" class="control-label"></label>
                <select asp-for="TaxiId" class ="form-control" asp-items="ViewBag.TaxiId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
